.map-editor {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

:global(.map-editor .map-entity.is-selected) {
  /* TODO: Color filter to turn entire thing blueish*/
  stroke: var(--color-entity-selected);
}
