.entity-tray-window {
  flex-grow: 0;
  flex-shrink: 0;
  width: 250px;
}

.entity-tray-list {
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 2px;
}

.entity-tray-category {
  box-sizing: border-box;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 3px;
  cursor: inherit;
  user-select: none;
}

.entity-tray-item {
  box-sizing: border-box;
  padding: 6px 7px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: var(--color-ui-light-bg);
}

.entity-tray-item:hover {
  background: var(--color-ui-light-hover);
}

.entity-tray-item-preview {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.entity-tray-item-text {
  cursor: inherit;
  user-select: none;
}
