.imagefield {
  display: inline-block;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

.imagefield-upload {
  visibility: collapse;
}

.imagefield:not(.imagefield--has-image) > .imagefield-upload,
.imagefield.imagefield--has-image:hover > .imagefield-upload {
  visibility: visible;
}

.imagefield-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imagefield-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
