.liquidpreview-container {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.liquidpreview-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.liquidpreview-effect-1 {
  filter: saturate(500%) hue-rotate(54deg);
}
.liquidpreview-effect-2 {
  filter: saturate(500%) hue-rotate(108deg);
}
.liquidpreview-effect-3 {
  filter: saturate(500%) hue-rotate(162deg);
}
.liquidpreview-effect-4 {
  filter: saturate(500%) hue-rotate(216deg);
}
.liquidpreview-effect-5 {
  filter: saturate(500%) hue-rotate(270deg);
}
