:root {
  --color-ui-light-bg: white;
  --color-ui-light-border: rgb(117, 117, 117);
  --color-ui-light-hover: rgb(218, 218, 218);
  --color-ui-light-selected: rgb(209, 224, 255);
  --color-ui-light-selected-hover: rgb(179, 194, 225);
  --color-ui-light-text: black;
  --color-ui-light-text-disabled: rgb(218, 218, 218);

  --color-ui-surface-bg: rgb(221, 221, 221);
  --color-ui-surface-bg-disabled: rgb(230, 230, 230);
  --color-ui-surface-border: rgb(209, 209, 209);
  --color-ui-surface-hover: rgb(231, 231, 231);
  --color-ui-surface-text: black;
  --color-ui-surface-text-disabled: rgb(175, 175, 175);

  --color-ui-dark-bg: rgb(117, 117, 117);
}
