:root {
  --fontsize: 18px;

  --color-base: #aa7939;
  --color-darker: #76490d;
  --color-darkest: #432600;
  --color-lighter: #deb47b;
  --color-lightest: #ffe7c7;

  --color-ui-light-bg: var(--color-lighter);
  --color-ui-light-border: var(--color-darker);
  --color-ui-light-hover: var(--color-lightest);
  --color-ui-light-selected: var(--color-lightest);
  --color-ui-light-selected-hover: var(--color-lightest);
  --color-ui-light-text: var(--color-darkest);
  --color-ui-light-text-disabled: var(--color-darker);

  --color-ui-primary-bg: var(--color-lighter);
  --color-ui-primary-bg-hover: var(--color-lightest);

  --color-ui-surface-bg: var(--color-base);
  --color-ui-surface-bg-disabled: var(--color-darker);
  --color-ui-surface-border: var(--color-darkest);
  --color-ui-surface-hover: var(--color-lightest);
  --color-ui-surface-text: var(--color-lighter);
  --color-ui-surface-text-disabled: var(--color-lighter);

  --color-ui-dark-bg: var(--color-darker);
  --color-ui-dark-hover: var(--color-base);
  --color-ui-dark-selected: var(--color-base);
  --color-ui-dark-hover-text: var(--color-darkest);
  --color-ui-dark-text: var(--color-lighter);

  --color-ui-tooltip-bg: var(--color-base);
  --color-ui-tooltip-text: var(--color-lighter);
}
