html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-text-default);
  font-family: "Cardo", serif;
  font-size: 18px; /* css vars don't seem to work here */
  color: var(--color-ui-light-text);
}

a {
  color: var(--color-text-link);
}
a:hover {
  color: var(--color-text-link-hover);
}
