.toolbar {
  height: 25px;
  background: var(--color-ui-dark-bg);
  display: flex;
  flex-direction: row;
}

.toolbar-togglebutton {
  background: var(--color-ui-light-bg);
  border: 1px solid var(--color-ui-light-border);
}

.toolbar-togglebutton:hover {
  background: var(--color-ui-light-hover);
}

.toolbar-togglebutton-pressed {
  background: var(--color-ui-light-selected);
}
.toolbar-togglebutton-pressed:hover {
  background: var(--color-ui-light-selected-hover);
}
