.fieldbox {
  display: inline-block;
  border-width: 0 2px 2px 2px;
  border-color: var(--color-darkest);
  border-style: solid;
  position: relative;
  margin-top: 10px; /* FIXME: Probably based on fieldbox-label top, which is based on font size. */
}

.fieldbox-label {
  position: absolute;
  right: 0;
  left: 0;
  top: -10px; /* Not calculated.  Just tweaked the numbers until things aligned.  FIXME: probably based on font size */
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.fieldbox-label:before {
  width: 15px;
  margin-right: 5px;
}

.fieldbox-label:after {
  margin-left: 5px;
  flex: 1;
  min-width: 0;
}

.fieldbox-label:before,
.fieldbox-label:after {
  content: " ";
  height: 2px;
  background: var(--color-darkest);
  display: block;
}

.fieldbox-content {
  padding: 5px;
  padding-top: 12px; /* FIXME: Based on font size / fieldbox-label top */
}
