.map-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.map-toolbar-entities {
  margin-left: auto;
  min-width: 0;
}

.toolbar-button {
  border: 1px solid var(--color-ui-surface-border);
}

.toolbar-button:focus {
  border: 1px solid var(--color-ui-surface-border);
}
