.tree {
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--color-ui-light-bg);
}

.tree-item {
  background: var(--color-ui-light-bg);
  box-sizing: border-box;
  cursor: default;
}

.tree-item-content {
  box-sizing: border-box;
  padding: 3px 10px;
  cursor: inherit;
  user-select: none;
}

.tree-item-content:hover {
  background-color: var(--color-ui-light-hover);
}

.tree-item-content--selected {
  background-color: var(--color-ui-light-selected);
}

.tree-item-content--selected:hover {
  background-color: var(--color-ui-light-selected-hover);
}

.tree-item-children {
  margin-left: 10px;
}
