.tree {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree-item {
  box-sizing: border-box;
  cursor: default;
}

.tree-item-chevron {
  color: var(--color-darkest);
  margin-right: 5px;
}

.tree-item-nochevron {
  width: 35px;
}

.tree-item-content {
  box-sizing: border-box;
  width: 100%;
  padding: 3px 10px;
  cursor: inherit;
  user-select: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  flex-direction: row;
}

.tree-item-content:hover {
  box-shadow: inset 0 0 5px var(--color-darkest);
}

.tree-item-content--selected {
  box-shadow: inset 0 0 10px var(--color-darkest);
}

.tree-item-content--selected:hover {
  box-shadow: inset 0 0 15px var(--color-darkest);
}

.tree-item-children {
  margin-left: 10px;
}
