.tree {
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--color-ui-light-bg);
}

.tree-item {
  margin: 6px 0;
  background: var(--color-ui-light-bg);
  box-sizing: border-box;
  cursor: default;
}

.tree-item-content {
  cursor: inherit;
  user-select: none;
}

.tree-item-label {
  box-sizing: border-box;
  padding: 6px 10px;
}

.tree-item-label:hover {
  background-color: var(--color-ui-light-hover);
}

.tree-item-label--selected {
  background-color: var(--color-ui-light-selected);
}

.tree-item-label--selected:hover {
  background-color: var(--color-ui-light-selected-hover);
}

.tree-item-children {
  margin-left: 10px;
}
